<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hermes.db.mapper.auto.TbPlatformChannelAutoMapper">
  <resultMap id="BaseResultMap" type="com.hermes.db.model.auto.TbPlatformChannelAuto">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="channel_name" jdbcType="VARCHAR" property="channelName" />
    <result column="channel_status" jdbcType="INTEGER" property="channelStatus" />
    <result column="channel_sort" jdbcType="INTEGER" property="channelSort" />
    <result column="channel_page_addr" jdbcType="VARCHAR" property="channelPageAddr" />
    <result column="channel_data_addr" jdbcType="VARCHAR" property="channelDataAddr" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, create_date, create_user, update_date, update_user, channel_name, channel_status, 
    channel_sort, channel_page_addr, channel_data_addr
  </sql>
  <select id="selectByExample" parameterType="com.hermes.db.model.auto.TbPlatformChannelAutoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_platform_channel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_platform_channel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_platform_channel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hermes.db.model.auto.TbPlatformChannelAutoExample">
    delete from tb_platform_channel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hermes.db.model.auto.TbPlatformChannelAuto">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_platform_channel (create_date, create_user, update_date, 
      update_user, channel_name, channel_status, 
      channel_sort, channel_page_addr, channel_data_addr
      )
    values (#{createDate,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=VARCHAR}, #{channelName,jdbcType=VARCHAR}, #{channelStatus,jdbcType=INTEGER}, 
      #{channelSort,jdbcType=INTEGER}, #{channelPageAddr,jdbcType=VARCHAR}, #{channelDataAddr,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hermes.db.model.auto.TbPlatformChannelAuto">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_platform_channel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="createDate != null">
        create_date,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="channelName != null">
        channel_name,
      </if>
      <if test="channelStatus != null">
        channel_status,
      </if>
      <if test="channelSort != null">
        channel_sort,
      </if>
      <if test="channelPageAddr != null">
        channel_page_addr,
      </if>
      <if test="channelDataAddr != null">
        channel_data_addr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="channelName != null">
        #{channelName,jdbcType=VARCHAR},
      </if>
      <if test="channelStatus != null">
        #{channelStatus,jdbcType=INTEGER},
      </if>
      <if test="channelSort != null">
        #{channelSort,jdbcType=INTEGER},
      </if>
      <if test="channelPageAddr != null">
        #{channelPageAddr,jdbcType=VARCHAR},
      </if>
      <if test="channelDataAddr != null">
        #{channelDataAddr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hermes.db.model.auto.TbPlatformChannelAutoExample" resultType="java.lang.Long">
    select count(*) from tb_platform_channel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_platform_channel
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null">
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.channelName != null">
        channel_name = #{record.channelName,jdbcType=VARCHAR},
      </if>
      <if test="record.channelStatus != null">
        channel_status = #{record.channelStatus,jdbcType=INTEGER},
      </if>
      <if test="record.channelSort != null">
        channel_sort = #{record.channelSort,jdbcType=INTEGER},
      </if>
      <if test="record.channelPageAddr != null">
        channel_page_addr = #{record.channelPageAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.channelDataAddr != null">
        channel_data_addr = #{record.channelDataAddr,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_platform_channel
    set id = #{record.id,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      channel_name = #{record.channelName,jdbcType=VARCHAR},
      channel_status = #{record.channelStatus,jdbcType=INTEGER},
      channel_sort = #{record.channelSort,jdbcType=INTEGER},
      channel_page_addr = #{record.channelPageAddr,jdbcType=VARCHAR},
      channel_data_addr = #{record.channelDataAddr,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hermes.db.model.auto.TbPlatformChannelAuto">
    update tb_platform_channel
    <set>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="channelName != null">
        channel_name = #{channelName,jdbcType=VARCHAR},
      </if>
      <if test="channelStatus != null">
        channel_status = #{channelStatus,jdbcType=INTEGER},
      </if>
      <if test="channelSort != null">
        channel_sort = #{channelSort,jdbcType=INTEGER},
      </if>
      <if test="channelPageAddr != null">
        channel_page_addr = #{channelPageAddr,jdbcType=VARCHAR},
      </if>
      <if test="channelDataAddr != null">
        channel_data_addr = #{channelDataAddr,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hermes.db.model.auto.TbPlatformChannelAuto">
    update tb_platform_channel
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      channel_name = #{channelName,jdbcType=VARCHAR},
      channel_status = #{channelStatus,jdbcType=INTEGER},
      channel_sort = #{channelSort,jdbcType=INTEGER},
      channel_page_addr = #{channelPageAddr,jdbcType=VARCHAR},
      channel_data_addr = #{channelDataAddr,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>